[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-mfa = "*"
jupyter = "*"
jupyterlab = "*"
pyathena = "*"
boto3 = "*"
pandas = "*"
graph-notebook = "*"
rdflib = "==5.0.0"
nodejs = "*"
neo4j = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
